.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    margin-top: 10%;
  }
  
  .login-form label {
    font-weight: bold;
    color: #0083f6;
  }
  
  .login-form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #737373;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.2rem;
     
  }
  
  .login-form button {
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
  
  .login-form a {
    font-size:small;
    margin: 10px;
    color: #0083f6;
  }

  .create-account button {
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
  